<div class="container" *ngIf="form">
    <h1>
        {{ tema ? 'EDITAR' : 'NUEVO' }} TEMA
    </h1>

    <div class="mt-5 alert alert-danger" *ngIf="errors.length">
        <ul >
            <li *ngFor="let error of errors"> {{ error }} </li>
        </ul>
    </div>


    <form class="mt-5" [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
        <mat-form-field class="mb-3 w-100" appearance="outline">
            <mat-label for="titulo">Título</mat-label>
            <input matInput id="titulo" type="text" placeholder="Título" formControlName="titulo"> <!-- class="form-control"   -->
            <mat-error class="invalid-feedback d-block">
                <ng-container *ngIf="controlHasError('titulo', 'required')">
                    Titulo es obligatorio
                </ng-container>
                <ng-container *ngIf="controlHasError('titulo', 'minlength')">
                    Titulo debe tener al menos 3 caracteres
                </ng-container>
                <ng-container *ngIf="controlHasError('titulo', 'maxlength')">
                    Titulo puede tener 100 caracteres maximo
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3 w-100" appearance="outline">
            <mat-label for="mensaje">Mensaje</mat-label>
            <textarea matInput id="mensaje" type="text" placeholder="Mensaje" formControlName="mensaje" rows="8"></textarea>
            <mat-error class="invalid-feedback d-block">
                <ng-container *ngIf="controlHasError('mensaje', 'required')">
                    El Mensaje es obligatorio
                </ng-container>
                <ng-container *ngIf="controlHasError('mensaje','minlength')">
                    El Mensaje debe tener al menos 5 caracteres
                </ng-container>
                <ng-container *ngIf="controlHasError('mensaje', 'maxlength')">
                    El Mensaje puede tener 5000 caracteres maximo
                </ng-container>
                <ng-container *ngIf="controlHasError('mensaje', 'pattern')">
                    El Mensaje no puede tener caracteres entre:  a-z 0-9 - +
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3 w-100" appearance="outline">
            <mat-label for="genero">Genero</mat-label>
            <mat-select id="genero" type="text" placeholder="Seleccione categoria" formControlName="genero"> <!-- class="form-control"   se quita ya que usamos angular material-->
                <mat-option value="TECNOLOGIA">TECNOLOGIA</mat-option>
                <mat-option value="DEPORTE">DEPORTE</mat-option>
                <mat-option value="COCINA">COCINA</mat-option>
                <mat-option value="VIDEO_JUEGOS">VIDEO JUEGOS</mat-option>
            </mat-select>
            <mat-error class="invalid-feedback d-block">
                <ng-container *ngIf="controlHasError('genero', 'required')">
                    La categoria es obligatoria
                </ng-container>
            </mat-error>
        </mat-form-field>

        <div class="text-end mt-3">
            <button mat-raised-button type="button" routerLink="/"> <!-- class="btn btn-light" -->
                CANCELAR
            </button>
            <button mat-raised-button color="primary" class="ms-2"> <!--  class="btn btn-primary ms-2"  -->
                {{ tema ? 'ACTUALIZAR' : 'CREAR' }} TEMA
            </button>
        </div>
    </form>
    
</div>