<mat-toolbar color="primary">
    <span>Panel Administrativo</span>

    <button mat-button routerLink="/" class="ms-3">
        Inicio
    </button>

    <button mat-button routerLink="/admin/tema" class="ms-3">
        Admin. Temas
    </button>

    <button mat-button routerLink="/admin/usuarios" class="ms-3">
        Admin. Usuarios
    </button>

    <button mat-button routerLink="/admin/respuestas" class="ms-3">
        Admin. Respuestas
    </button>

    <span class="spacer"></span> <!--enviar al final de la barra los botones -->


    <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon> {{ usuario.nombre }}
    </button>

   <mat-menu #userMenu>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar Sesión
    </button>
   </mat-menu>

</mat-toolbar>

<div class="container py-5">
    <router-outlet></router-outlet>
</div>