<mat-toolbar class="custom-toolbar">
    <span>FORO GOOD ONLINE</span>

    <button mat-button routerLink="/" class="ms-3">
        Inicio
    </button>

    <button mat-button routerLink="/temas" class="ms-3">
        Temas
    </button>

    <button mat-button routerLink="/admin/tema" class="ms-3" *ngIf="usuario?.role === 'ADMIN'">
        Administración Temas
    </button>

    <span class="spacer"></span> <!--enviar al final de la barra los botones -->

    <ng-container *ngIf="usuario; else authButtons">
        <button mat-button [matMenuTriggerFor]="userMenu">
            <div class="barra-img">
                <img class="img-redonda4" [src]="usuario.filePerfil | apiImg" [alt]="usuario.nombre">
                <h1> {{ usuario.nombre }} </h1>
            </div>
        </button>

        <mat-menu #userMenu>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon> Cerrar Sesión
            </button>
        </mat-menu>

    </ng-container>

    <ng-template #authButtons>
        <button mat-raised-button class="ms-2" routerLink="/auth/login">
            <mat-icon>login</mat-icon> Iniciar sesión
        </button>
        <button mat-raised-button class="ms-2" routerLink="/auth/singup">
            <mat-icon>logout</mat-icon> Registrarme
        </button>
    </ng-template>

</mat-toolbar>

<div class="py-2">
    <router-outlet></router-outlet>
</div>