.invalid-feedback {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mw-96px {
    max-width: 96px;
    max-height: 96px;
}

.mw-64px {
    max-width: 64px;
    max-height: 64px;
}

.img-redonda {
    width: 64px; 
    height: 64px; 
    border-radius: 50%; 
    object-fit: cover;  /* Esto asegura que la imagen se ajuste bien dentro del contenedor redondo */
}

.icon-verde {
    color: rgb(13, 173, 13);
}

.icon-rojo {
    color: #F44336;
}



.spacer {
    flex: 1 1 auto;
}


.book-card img {
    width: 50%;
    padding-top: 1rem;
    margin: 0 auto;
    display: block;
}

.book-card a {
    text-decoration: none;
    color: #000;
}

.cart-item {
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.cart-item .info {
    line-height: normal;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.spinner.btn-paypal {
    height: 48px;
}




